
footer,header,hgroup,nav,section {
	display:block
}

html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
a:hover,a:active {
	outline:0
}
button,input,select,textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle
}
button,input {
	*overflow:visible;
	line-height:normal
}


button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
	cursor:pointer
}



@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 1.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

@media print {
	* {
		text-shadow:none !important;
		color:#000 !important;
		background:transparent !important;
		box-shadow:none !important
	}
	a,a:visited {
		text-decoration:underline
	}
	a[href]:after {
		content:" (" attr(href) ")"
	}
	thead {
		display:table-header-group
	}
	tr,img {
		page-break-inside:avoid
	}
	img {
		max-width:100% !important
	}
	@page {
		margin:.5cm
	}
	p{
		orphans:3;
		widows:3
	}
}
body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:100;
	line-height:20px;
	color:#718596;
	background-color:F1F2F7;
}
a {
	color:#0088cc;
	text-decoration:none
}
a:hover,a:focus {
	color:#005580;
	text-decoration:underline
}

[class*="span"] {
	float:left;
	min-height:1px;
	margin-left:20px
}

.span8 {
	width:620px
}

.span4 {
	width:300px
}
.row-fluid {
	width:100%;
	*zoom:1
}
.row-fluid:before,.row-fluid:after {
	display:table;
	content:"";
	line-height:0
}
.row-fluid:after {
	clear:both
}
.row-fluid [class*="span"] {
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	margin-left:2.12766%;
	*margin-left:2.07447%
}
.row-fluid [class*="span"]:first-child {
	margin-left:0
}
.row-fluid .span8 {
	width:65.95745%;
	*width:65.90426%
}
.row-fluid .span4 {
	width:31.91489%;
	*width:31.8617%
}
[class*="span"].hide,.row-fluid [class*="span"].hide {
	display:none
}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right {
	float:right
}
.container {
	margin-right:auto;
	margin-left:auto;
	*zoom:1
}
.container:before,.container:after {
	display:table;
	content:"";
	line-height:0
}
.container:after {
	clear:both
}
.container-fluid {
	padding-right:20px;
	padding-left:20px;
	*zoom:1
}
.container-fluid:before,.container-fluid:after {
	display:table;
	content:"";
	line-height:0
}
.container-fluid:after {
	clear:both
}
p {
	margin:0 0 10px
}
h4 {
	margin:10px 0;
	font-family:inherit;
	font-weight:700;
	line-height:20px;
	color:inherit;
	text-rendering:optimizelegibility
}
h4 {
	font-size:17.5px
}
ul {
	padding:0;
	margin:0 0 10px 25px
}
ul ul,ul ol,ol ol,ol ul {
	margin-bottom:0
}
li {
	line-height:20px
}
label,input,button,select,textarea {
	font-size:14px;
	font-weight:400;
	line-height:20px
}


input,button,select,textarea {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
table {
	max-width:100%;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0
}
.table {
	width:100%;
	margin-bottom:20px
}
.table th,.table td {
	padding:8px;
	line-height:20px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #dddddd
}
.table th {
	font-weight:700
}
.table thead th {
	vertical-align:bottom
}
.table .table {
	background-color:white
}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"] {
	display:table-cell;
	float:none;
	margin-left:0
}

.table td.span4,.table th.span4 {
	float:none;
	width:284px;
	margin-left:0
}
.table td.span8,.table th.span8 {
	float:none;
	width:604px;
	margin-left:0
}
[class^="icon-"],[class*=" icon-"] {
	display:inline-block;
	width:14px;
	height:14px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;	
	background-position:14px 14px;
	background-repeat:no-repeat;
	margin-top:1px
	
}
.icon-th {
	background-position:-240px 0
}
.icon-th-list {
	background-position:-264px 0
} 
.icon-bookmark {
	background-position:-72px -48px
}
.icon-question-sign {
	background-position:-96px -96px
}
.btn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:4px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	color:#333333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:whitesmoke;
	background-image:-moz-linear-gradient(top,white,#e6e6e6);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(white),to(#e6e6e6));
	background-image:-webkit-linear-gradient(top,white,#e6e6e6);
	background-image:-o-linear-gradient(top,white,#e6e6e6);
	background-image:linear-gradient(to bottom,#ffffff,#e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFE6E6E6',GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#e6e6e6;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:1px solid #cccccc;
	*border:0;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)
}
.btn:hover,.btn:focus,.btn:active,.btn.active {
	color:#333333;
	background-color:#e6e6e6;
	*background-color:#d9d9d9
}
.btn:active,.btn.active {
	background-color:#cccccc \9
}
.btn:first-child {
	*margin-left:0
}
.btn:hover,.btn:focus {
	color:#333333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}
.btn:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.btn.active,.btn:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)
}
.nav {
	margin-left:0;
	margin-bottom:20px;
	list-style:none
}
.nav>li>a {
	display:block
}
.nav>li>a:hover,.nav>li>a:focus {
	text-decoration:none;
	background-color:#eeeeee
}
.nav>.pull-right {
	float:right
}
.navbar {
	overflow:visible;
	margin-bottom:20px;
	*position:relative;
	*z-index:2
}
.navbar-inner {
	min-height:60px;
	padding-left:20px;
	padding-right:20px;
	background-color:#2c3e50;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFF2F2F2',GradientType=0);
	border:1px solid #d4d4d4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*zoom:1
}
.navbar-inner:before,.navbar-inner:after {
	display:table;
	content:"";
	line-height:0
}
.navbar-inner:after {
	clear:both
}
.navbar .container {
	width:auto
}
.nav-collapse.collapse {
	height:auto;
	overflow:visible
}
.navbar .brand {
	float:left;
	display:block;
	padding:10px 20px 10px;
	margin-left:-20px;
	font-size:20px;
	font-weight:200;
	color:#777777;
	text-shadow:0 1px 0 white
}
.navbar .brand:hover,.navbar .brand:focus {
	text-decoration:none
}
.navbar .nav {
	position:relative;
	left:0;
	display:block;
	float:left;
	margin:0 10px 0 0
}
.navbar .nav.pull-right {
	float:right;
	margin-right:0
}
.navbar .nav>li {
	float:left
}
.navbar .nav>li>a {
	float:none;
	padding:10px 15px 10px;
	color:#777777;
	text-decoration:none;
	text-shadow:0 1px 0 white
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
	background-color:transparent;
	color:#333333;
	text-decoration:none
}
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
	color:#555555;
	text-decoration:none;
	background-color:#e6e6e6;
	-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
	-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 8px rgba(0,0,0,0.125)
}
.navbar .btn-navbar {
	display:none;
	float:right;
	padding:7px 10px;
	margin-left:5px;
	margin-right:5px;
	color:white;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#ededed;
	background-image:-moz-linear-gradient(top,#f2f2f2,#e6e6e6);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e6e6e6));
	background-image:-webkit-linear-gradient(top,#f2f2f2,#e6e6e6);
	background-image:-o-linear-gradient(top,#f2f2f2,#e6e6e6);
	background-image:linear-gradient(to bottom,#f2f2f2,#e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2',endColorstr='#FFE6E6E6',GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#e6e6e6;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075)
}
.navbar-inverse .navbar-inner {
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222',endColorstr='#FF111111',GradientType=0);
}
.navbar-inverse .brand,.navbar-inverse .nav>li>a {
	color:#999999;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}
.navbar-inverse .brand:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:hover,.navbar-inverse .nav>li>a:focus {
	color:white
}
.navbar-inverse .brand {
	color:#fff
}
.navbar-inverse .nav>li>a:focus,.navbar-inverse .nav>li>a:hover {
	background-color:transparent;
	color:white
}
.navbar-inverse .nav .active>a,.navbar-inverse .nav .active>a:hover,.navbar-inverse .nav .active>a:focus {
	color:white;
	background-color:#111111
}
.navbar-inverse .btn-navbar {
	color:white;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#0e0e0e;
	background-image:-moz-linear-gradient(top,#151515,#040404);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#151515),to(#040404));
	background-image:-webkit-linear-gradient(top,#151515,#040404);
	background-image:-o-linear-gradient(top,#151515,#040404);
	background-image:linear-gradient(to bottom,#151515,#040404);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF151515',endColorstr='#FF040404',GradientType=0);
	border-color:#040404 #040404 black;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#040404;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.navbar-inverse .btn-navbar:hover,.navbar-inverse .btn-navbar:focus,.navbar-inverse .btn-navbar:active,.navbar-inverse .btn-navbar.active,.navbar-inverse .btn-navbar.disabled,.navbar-inverse .btn-navbar[disabled] {
	color:white;
	background-color:#040404;
	*background-color:black
}
.navbar-inverse .btn-navbar:active,.navbar-inverse .btn-navbar.active {
	background-color:black \9
}


@media (min-width:1200px) {
	
	[class*="span"] {
		float:left;
		min-height:1px;
		margin-left:30px
	}
	.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
		width:1170px
	}
	.span8 {
		width:770px
	}
	.span4 {
		width:370px
	}
	.row-fluid {
		width:100%;
		*zoom:1
	}
	.row-fluid:before,.row-fluid:after {
		display:table;
		content:"";
		line-height:0
	}
	.row-fluid:after {
		clear:both
	}
	.row-fluid [class*="span"] {
		display:block;
		width:100%;
		min-height:30px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		float:left;
		margin-left:2.5641%;
		*margin-left:2.51091%
	}
	.row-fluid [class*="span"]:first-child {
		margin-left:0
	}
	.row-fluid .span8 {
		width:65.81197%;
		*width:65.75877%
	}
	.row-fluid .span4 {
		width:31.62393%;
		*width:31.57074%
	}
}
@media (min-width:768px) and (max-width:979px) {
	
	[class*="span"] {
		float:left;
		min-height:1px;
		margin-left:20px
	}
	.span8 {
		width:476px
	}
	.span4 {
		width:228px
	}
	.row-fluid {
		width:100%;
		*zoom:1
	}
	.row-fluid:before,.row-fluid:after {
		display:table;
		content:"";
		line-height:0
	}
	.row-fluid:after {
		clear:both
	}
	.row-fluid [class*="span"] {
		display:block;
		width:100%;
		min-height:30px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		float:left;
		margin-left:2.76243%;
		*margin-left:2.70924%
	}
	.row-fluid [class*="span"]:first-child {
		margin-left:0
	}
	.row-fluid .controls-row [class*="span"]+[class*="span"] {
		margin-left:2.76243%
	}
}
@media (max-width:767px) {
	body {
		padding-left:20px;
		padding-right:20px
	}
	.container-fluid {
		padding:0
	}
	.container {
		width:auto
	}
	.row-fluid {
		width:100%
	}
	[class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"] {
		float:none;
		display:block;
		width:100%;
		margin-left:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}
}

@media (max-width:979px) {
	body {
		padding-top:0
	}
	.navbar-fixed-top,.navbar-fixed-bottom {
		position:static
	}
	.navbar-fixed-top {
		margin-bottom:20px
	}
	.navbar-fixed-bottom {
		margin-top:20px
	}
	.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
		padding:5px
	}
	.navbar .container {
		width:auto;
		padding:0
	}
	.navbar .brand {
		padding-left:10px;
		padding-right:10px;
		margin:0 0 0 -5px
	}
	.nav-collapse {
		clear:both
	}
	.nav-collapse .nav {
		float:none;
		margin:0 0 10px
	}
	.nav-collapse .nav>li {
		float:none
	}
	.nav-collapse .nav>li>a {
		margin-bottom:2px
	}
	.nav-collapse .nav .nav-header {
		color:#777777;
		text-shadow:none
	}
	.nav-collapse .btn {
		padding:4px 10px 4px;
		font-weight:400;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px
	}
	.navbar .nav-collapse .nav.pull-right {
		float:none;
		margin-left:0
	}
	.nav-collapse,.nav-collapse.collapse {
		overflow:hidden;
		height:0
	}
	.navbar .btn-navbar {
		display:block
	}
}
@media (min-width:980px) {
	.nav-collapse.collapse {
		height:auto !important;
		overflow:visible !important
	}
}
* {
	margin:0;
	padding:0;
	text-decoration:none;
	outline:none
}
html {
	min-height:100%
}
body {
	font:400 12px 'Open Sans',HelveticaNeue,Helvetica,Arial;
	min-height:100%;
	color:#707070;
	overflow-x:hidden;
	background-color:#EAEDF1;
}
a {
	color:#78808a
}
a:hover,a:active,a:focus {
	cursor:pointer;
	outline:0 none;
	text-decoration:none;
	color:#5a6573
}
i {
	font-size:14px
}
.container-fluid {
	padding:0
}
.main-content {
	position:relative;
	margin-left:201px;
	margin-top: 30px;
}
.padded {
	/*padding:15px*/
	padding: 0 15px 1px;
}
h4 {
	color:#3245;
	font-weight:600
}
.box {
	background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.box .box-header,.box .box-footer {
	background: #7087A3;
	background-size: 100%;
	border-bottom: 1px solid #F1F2F7;
	color: #EBEBEB;
}
.box .box-header:before,.box .box-header:after,.box .box-footer:before,.box .box-footer:after {
	display:table;
	content:"";
	line-height:0
}
.box .box-header:after,.box .box-footer:after {
	clear:both
}
.box .box-header .title,.box .box-footer .title {
	float: left;
	display: block;
	padding: 8px;
	font-size: 15px;
}
.box .box-header {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:4px
}
.box-section {
	border-bottom:1px solid #EAEDF1;
	border-top:1px solid #fff;
	padding:15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.box-section:last-child {
	border-bottom:none

}

@font-face {
	font-family:'FontAwesome';	
	src:url("fontawesome-webfont.eot");
	src:url("fontawesome-webfont-ie-fix.html") format("embedded-opentype"),url("fontawesome-webfont.woff") format("woff"),url("fontawesome-webfont.ttf") format("truetype");
	
	font-weight:400;
	font-style:normal
}
[class^="icon-"],[class*=" icon-"] {
	font-family:FontAwesome;
	font-weight:400;
	font-style:normal;
	text-decoration:inherit;
	-webkit-font-smoothing:antialiased;
	display:inline;
	width:auto;
	height:auto;
	line-height:normal;
	vertical-align:baseline;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	margin-top:0;
	
}
[class^="icon-"]:before,[class*=" icon-"]:before {
	text-decoration:inherit;
	display:inline-block;
	speak:none
}
a [class^="icon-"],a [class*=" icon-"] {
	display:inline-block
}
.btn [class^="icon-"],.btn [class*=" icon-"],.nav [class^="icon-"],.nav [class*=" icon-"] {
	display:inline
}
.btn [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class^="icon-"].icon-large,.nav [class*=" icon-"].icon-large {
	line-height:.9em
}
.btn [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.nav [class*=" icon-"].icon-spin {
	display:inline-block
}
.nav-tabs [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class^="icon-"],.nav-pills [class*=" icon-"] {
}
.nav-tabs [class^="icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"],.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class^="icon-"],.nav-pills [class^="icon-"].icon-large,.nav-pills [class*=" icon-"],.nav-pills [class*=" icon-"].icon-large {
	line-height:.9em
}
li [class^="icon-"],li [class*=" icon-"],.nav li [class^="icon-"],.nav li [class*=" icon-"] {
	display:inline-block;
	width:1.25em;
	text-align:center
}
li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large,.nav li [class^="icon-"].icon-large,.nav li [class*=" icon-"].icon-large {
	width:1.5625em
}
ul.icons {
	list-style-type:none;
	text-indent:-.75em
}
ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"] {
	width:.75em
}
.pull-right {
	float:right
	}
}
.icon-th:before {
	content:"\f00a"
}
.icon-th-list:before {
	content:"\f00b"
}
.icon-list-alt:before {
	content:"\f022"
}
.icon-align-justify:before {
	content:"\f039"
}
.icon-list:before {
	content:"\f03a"
}
.icon-question-sign:before {
	content:"\f059"
}
.icon-signout:before {
	content:"\f08b"
}
.icon-reorder:before {
	content:"\f0c9"
}
}


.navbar .brand {
	line-height:27px;
	color:#bbb;
	text-shadow:0 1px 0 black
}
.navbar-inverse .navbar-inner {
	background: #2A3542;
	background-size: 100%;
	border-left: 0;
	border-right: 0;
	border: 1px solid #2A3542;
}
.navbar.navbar-top {
	margin-bottom:0
}
.navbar.navbar-top .navbar-inner {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}
.navbar-inverse .nav {
	margin-top:10px
}
.navbar-inverse .nav>li>a {
	background:rgba(0,0,0,0.5);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	height:20px;
	line-height:20px;
	padding:3px 10px;
	margin-right:10px
}
.navbar-inverse .nav>li>a:hover {
	background:rgba(0,0,0,0.8)
}
.navbar-inverse .nav>li.active>a {
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15)
}
.navbar .btn,.navbar .btn-group {
	margin-top:-4px
}
.btn {
	color:#fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	font-size:12px;
	text-shadow:0 -1px rgba(111, 111, 111, 0);
}
.btn:hover,.btn:active,.btn:focus {
	color:#fff
}

.btn.btn-green {
	border:1px solid #6d963b;
	-webkit-box-shadow:inset 0 1px 2px #a2c873;
	-moz-box-shadow:inset 0 1px 2px #a2c873;
	box-shadow:inset 0 1px 2px #a2c873;
	background:#82b346;

	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#96c161),color-stop(100%,#82b346));
	background-image:-webkit-linear-gradient(top,#96c161,#82b346);
	background-image:-moz-linear-gradient(top,#96c161,#82b346);
	background-image:-o-linear-gradient(top,#96c161,#82b346);
	background-image:linear-gradient(top,#96c161,#82b346)
}
.btn.btn-green:hover {
	background:#80af45;

	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#96c161),color-stop(100%,#80af45));
	background-image:-webkit-linear-gradient(top,#96c161,#80af45);
	background-image:-moz-linear-gradient(top,#96c161,#80af45);
	background-image:-o-linear-gradient(top,#96c161,#80af45);
	background-image:linear-gradient(top,#96c161,#80af45);
	-webkit-transition:box-shadow .05s ease-in-out;
	-moz-transition:box-shadow .05s ease-in-out;
	-o-transition:box-shadow .05s ease-in-out;
	transition:box-shadow .05s ease-in-out
}
.btn.btn-green:active {
	background:#8cbb52;
	border-color:#8cbb52;
	-webkit-box-shadow:0 0 5px #8cbb52 inset;
	-moz-box-shadow:0 0 5px #8cbb52 inset;
	box-shadow:0 0 5px #8cbb52 inset
}
.btn.btn-gray {
	border: 1px solid #7F95B4;
	-webkit-box-shadow: inset 0 1px 2px #7F95B4;
	-moz-box-shadow: inset 0 1px 2px #7F95B4;
	box-shadow: inset 0 1px 2px #7F95B4;
	background: #7F95B4;
	background-size: 100%;
	transition:.2s;
}
.btn.btn-gray:hover {
	border: 1px solid #626e7f;
	-webkit-box-shadow: inset 0 1px 2px #626e7f;
	-moz-box-shadow: inset 0 1px 2px #626e7f;
	box-shadow: inset 0 1px 2px #626e7f;
	background: #626e7f;
	background-size: 100%;
	transition:.2s;
}
.btn.btn-gray:active {
	border: 1px solid #626e7f;
	-webkit-box-shadow: inset 0 1px 2px #626e7f;
	-moz-box-shadow: inset 0 1px 2px #626e7f;
	box-shadow: inset 0 1px 2px #626e7f;
	background: #626e7f;
	background-size: 100%;
}

.btn i {
	vertical-align:top;
}
.btn-group>.btn:first-child {
	margin-left:0;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px
}
.table-normal {
	margin-bottom:0;
	color:#5a6573
}
.table-normal tbody td,.table-normal thead td {
	border-left:1px solid #eaebef
}
.table-normal tbody td:first-child,.table-normal thead td:first-child {
	border-left:none
}
.table-normal tbody td {
	border-top:1px solid #eaebef
}
.table-normal thead td {
		text-align:center;
	font-size:11px;
	padding:3px 5px 2px 5px;
	color:#666;
	height:25px;
	line-height:25px;
	font-weight:600;
	font-size:12px;
	text-shadow:0 1px rgba(255,255,255,0.5);
	background:#ffffff;
	background-size:100%;
	border:1px solid #EAEDF1;
}
.table-normal thead td:first-child {
	border-left:none
}
.table-normal thead td:last-child {
	border-right:none
}
.table-normal tbody td {
	padding:7px 11px;
	vertical-align:middle
}
.table-normal tbody tr {
	border-top:1px solid #eaebef
}
.table-normal tbody tr:nth-child(even) {
	background:#F3F4F8
}
.table-normal .icon {
	width:30px;
	text-align:center
}
.scrollable::-webkit-scrollbar {
	height:16px;
	width:10px
}
.scrollable::-webkit-scrollbar-button:start:decrement,.scrollable::-webkit-scrollbar-button:end:increment {
	background-color:transparent;
	display:block;
	height:0
}
.scrollable::-webkit-scrollbar-track {
	background-clip:padding-box;
	border:solid transparent;
	border-width:0 0 0 4px
}
.scrollable::-webkit-scrollbar-track-piece {
	background-color:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}
.scrollable::-webkit-scrollbar:hover {
	background-color:#f3f3f3;
	border:1px solid #dbdbdb
}
.scrollable::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,0.2);
	border:solid transparent;
	border-width:0;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
	-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
	box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
	background-clip:padding-box
}
.scrollable::-webkit-scrollbar-thumb:vertical,.scrollable::-webkit-scrollbar-thumb:horizontal {
	background-color:#c6c6c6;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}
.scrollable::-webkit-scrollbar-thumb:hover {
	background-color:#949494
}
.scrollable::-webkit-scrollbar-thumb:active {
	background-color:rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35);
	-moz-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35)
}

@media (max-width:979px) {
	
	.main-content {
		margin:0
	}
	.label,.badge,.navbar-inverse .nav>li>a,.navbar-inverse .nav>li.active>a {
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none
	}
	.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a {
		font-weight:600
	}
	.primary-sidebar .nav {
		margin:0
	}
}


@media (max-width:480px) {
	
	.navbar .brand {
		text-align:center;
		width:100%;
		float:none
	}
	.navbar .nav.pull-right {
		float:none;
		*zoom:1
	}
	.navbar .nav.pull-right:before,.navbar .nav.pull-right:after {
		display:table;
		content:"";
		line-height:0
	}
	.navbar .nav.pull-right:after {
		clear:both
	}
	.navbar-inner {
		text-align:center
	}
	.navbar-inner a {
		margin-right:0
	}
	.brand+.nav {
		display:inline-block;
		margin-bottom:10px
	}
	.navbar-inverse .nav>li>a {
		margin-right:0
	}
	.navbar-inverse .brand+.nav>li>a {
		margin-right:10px
	}
	.navbar-inverse .brand+.nav>li:last-child a {
		margin-right:0
	}
}

#timerdiv {
	text-align:center; 
	font-size:90px;
	background-color:#fff; 
	padding-top:80px;
    padding-bottom:40px;
}

