@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800);
body {
	font-family:'Open Sans', Helvetica, Arial;
	font-size:13.8px;
	line-height:23px;
	background-color:#ddd;
	color:#000;
	overflow-x:hidden;
	font-weight:600;
}

 h1,h4, h5{
	line-height:inherit;
	color:#272727;
	margin:0 0 15px;
	font-family:'Open Sans';
	font-weight:400;
}

h1.large, h2.large, h3.large, h4.large, h5.large, h6.large {
	font-weight:800;
}
h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, h6.thin {
	font-weight:300
}
h1 {
	font-size:55px;
	line-height:28px;
}
h1.large {
	font-size:66px;
	line-height:44px;
}

.widget {
	margin-bottom:30px;
	border-bottom:1px solid #f0f0f0;
	padding-bottom:30px;
}
.widget:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:0;
}
.widget .widget-title {
	text-transform:uppercase;
	line-height:1;
	text-align: center;
}
.widget .widget-title span {
	color:#23ac1c;
}

.panel-heading{
	padding-bottom:50px;
}

