body {
  background:#f9f9f9;
}

.card-container {
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: auto;
}

.card {
  min-width: 275px;
  width: 400px;
  position: relative;
  margin: 15px 15px;
  height: 350px;
  border-radius: 7px;
  background-size: cover;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s all linear;
  border: 1px solid rgba(128, 128, 128, 0.15);
  box-sizing: border-box;
}

.card .card-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("back1.jpg");
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card .card-image2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("result.jpg");
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card .card-info {
  position: relative;
  width: 100%;
  height: 35px;
  line-height: 35px;
  top: -265px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.85);
}
 .card .card-info .card-title {
  line-height: 60px;
  height: 60px;
  position: relative;
  top: 70px;
  font-size: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
}
.card:hover .card-info .card-title {
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3); 
  animation: bounce 1s;

}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


